@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@400&display=swap');

body{
    background-color: darkgray;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
#demo{
    margin: 10% 0 5%;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    vertical-align: baseline;
    text-align: center;
    }

#demo section{
    padding-bottom: 25px;
    position: relative;
    top: 70px;
}
#demo h2{
    position: relative;
    text-align: center;
    font-family: "Codystar", Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    margin: 10px 0px 10px;
    color: #e2e2e2;
    z-index: 100;
    top: 60px;
}

#demo img, #demo video{
    width: 100%;
}
    
    

@media (max-width: 1080px)
{
.text {
    font-size: 36px;
    bottom: 5%;
}
}

@media (max-width: 720px)
{
    #video{
        height: 700px;
    }
}

@media (max-width: 640px) {
    #video{
        height: 60px;
    }
}

@media (max-width: 480px) {
    #video{
        height: 400px;
    }
}

@media (max-width: 360px) {
    #video{
        height: 280px;
    }
}

@media (max-width: 320px) {
  #video{
      height: 240px;
  }
}

