body {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
   }


#myDIV {
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(-8px,-8px);
}

img{
  z-index: -10;
}


#logo {
  z-index: 10;
  width: 10%;
  top: 5px;
  position: absolute;
  left: 45%;
}

@media(max-width: 1024px) {
    #myDIV{
        width: 150%;
        transform: translate(-235px, -8px);
        height: 100%;
        z-index: -1;
    }
    #logo {
      z-index: 10;
      width: 30%;
      top: 5px;
      position: absolute;
      left: 36%;
    }
  }
@media(max-width: 768px) {
#myDIV{
    width: 180%;
    transform: translate(-305px, -8px);
    height: 100%;
    z-index: -1;
}
#logo {
  z-index: 10;
  width: 29%;
  position: absolute;
  left: 36%;
  top: 1%;
}
}

@media(max-width: 720px) {
    #myDIV{
        width: 200%;
        transform: translate(-335px, -8px);
        height: 100%;
        z-index: -1;
    }
  }
@media(max-width: 640px) {
#myDIV{
    width: 250%;
    transform: translate(-480px, -8px);
    height: 100%;
    z-index: -1;
}
#logo {
  z-index: 10;
  width: 29%;
  position: absolute;
  left: 40%;
  top: 3%;
}

}
@media(max-width: 600px) {
    #myDIV{
        width: 250%;
        transform: translate(-455px, -8px);
        height: 100%;
        z-index: -1;
    }
    #logo {
      z-index: 10;
      width: 29%;
      position: absolute;
      left: 38%;
      top: 3%;
    }
  }
  @media(max-width: 540px) {
    #myDIV{
        width: 240%;
        transform: translate(-400px, -8px);
        height: 100%;
        z-index: -1;
    }
    #logo {
      z-index: 10;
      width: 160px;
      position: absolute;
      left: 35%;
      top: 1px;
    }
  }

@media(max-width: 480px) {
#myDIV{
    width: 275%;
    transform: translate(-395px, -8px);
    height: 100%;
    z-index: -1;
}
#logo {
  z-index: 10;
  width: 29%;
  position: absolute;
  left: 35%;
  top: 5%;
}  
}


@media(max-width: 440px) {
  #myDIV{
      width: 300%;
      transform: translate(-415px, -8px);
      height: 100%;
      z-index: -1;
  }
  #logo {
    z-index: 10;
    width: 140px;
    position: absolute;
    left: 130px;
    top: 4px;
  }
}

@media(max-width: 400px) {
  #myDIV{
      width: 300%;
      transform: translate(-415px, -8px);
      height: 100%;
      z-index: -1;
  }
  #logo {
    z-index: 10;
    width: 135px;
    position: absolute;
    left: 120px;
    top: 4px;
  }
}

@media(max-width: 375px) {
  #myDIV{
      width: 300%;
      transform: translate(-360px, -8px);
      height: 100%;
      z-index: -1;
  }
  #logo {
    z-index: 10;
    width: 125px;
    position: absolute;
    left: 32%;
    top: 6px;
  }
}

@media(max-width: 360px) {
#myDIV{
    width: 300%;
    transform: translate(-360px, -8px);
    height: 100%;
    z-index: -1;
}
#logo {
  z-index: 10;
  width: 40%;
  position: absolute;
  left: 28%;
  top: 1%;
}
}
@media(max-width: 320px) {
    #myDIV{
        width: 300%;
        transform: translate(-360px, -8px);
        height: 100%;
        z-index: -1;
    }
    #logo {
      z-index: 10;
      width: 140px;
      position: absolute;
      left: 25%;
      top: 2px;
    }

}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container p{
  background: -webkit-linear-gradient(#eee, #eeff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Agency', sans-serif;
  font-size: small;
  text-align: center;
  font-weight: bolder;
  width: 70%;
}

.centered {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, 80%);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  width: 50%;
}
