#logo {
    z-index: 100;
    width: 10%;
    top: 5px;
    position: fixed;
    left: 45%;
  }
  
  @media(max-width: 1024px) {
      #logo {
        width: 30%;
        top: 5px;
        left: 35%;
      }
    }
  @media(max-width: 768px) {
  #logo {
    width: 33%;
    top: 20px;
  }
  }
  
  @media(max-width: 640px) {
  #logo {
    width: 29%;
    left: 40%;
    top: 3%;
  }
  
  }
  @media(max-width: 600px) {
      #logo {
        width: 29%;
        left: 38%;
        top: 3%;
      }
    }
    @media(max-width: 540px) {
      #logo {
        width: 160px;
        left: 35%;
        top: 1px;
      }
    }
  
  @media(max-width: 480px) {
  #logo {
    width: 29%;
    left: 35%;
    top: 5%;
  }  
  }
  
  @media(max-width: 440px) {
    #logo {
      width: 140px;
      left: 32%;
      top: 12px;
    }
  }
  
  @media(max-width: 400px) {
    #logo {
      width: 135px;
      left: 31%;
      top: 12px;
    }
  
  }
  
  @media(max-width: 375px) {
    #logo {
      width: 125px;
      top: 6px;
    }
  }
  
  @media(max-width: 360px) {
  #logo {
    width: 135px;
    left: 28%;
    top: 10px;
  }
  }
  @media(max-width: 320px) {
      #logo {
        width: 140px;
        left: 27%;

      }
  }