#logo {
    z-index: 100;
    width: 100%;
    top: -140px;
    position: fixed;
    transform: scale(.12);
    left: 0%;
    
  }
  
  @media(max-width: 1024px) {
      #logo {
        top: -30px;
        transform: scale(.25);
        /* left: 35%; */
      }
    }
  @media(max-width: 768px) {
  #logo {
    top: -10px;
    transform: scale(0.32);
  }
  }
  
  @media(max-width: 440px) {
    #logo {
      top: -10px;
    }
  }
  @media(max-width: 375px) {
    #logo {
      top: 1px;
    }
  }
  
  @media(max-width: 320px) {
      #logo {
        top: 0px;
        transform: scale(0.3);

      }
  }
