@import url('https://fonts.googleapis.com/css2?family=Coda&family=Monofett&family=Tourney:wght@300&display=swap');
#protip {
  font-family: 'Monofett', Courier, monospace;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 98;
  background-color: rgba(192, 192, 192, 0.11);
  color: rgba(255, 255, 255, 0.404);
  font-size: 60px;
  letter-spacing: 2px;
  padding-top: 15vh;
  text-align: center;
}

@media(max-width: 1024px){
  #protip {
    font-size: 60px;
    padding-top: 12vh;
  }
}

@media(max-width: 540px)
{
  #protip {
  font-size: 30px;
  padding-top: 70px;
}
}

@media(max-width: 420px)
{
  #protip {
  font-size: 26px;
  padding-top: 70px;
}
}

@media(max-width: 360px)
{
  #protip {
  font-size: 24px;
  padding-top: 60px;
}
}

@media(max-width: 320px)
{
  #protip {
  font-size: 26px;
  padding-top: 52px;
}
}