@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@400&display=swap');

body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

#demo{
  display: inline;
}

#demo h2{
    position: relative;
    text-align: center;
    font-family: "Codystar", Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    margin: 30px 0px 10px;
    color: #e2e2e2;
    z-index: 100;
    top: 60px;
    font-size: 18px;
    width: 90%;
    left: 4.5%;
}
#demo iframe{
    position: relative;
    display: inline-block;
    z-index: 100;
    max-width: 90%;
    width: 90%;
    left: 3%;
    top: 70px;
    max-height: 600px;
    height: 500px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 5px;
}


